body {
  background-color: rgb(234, 229, 229);
  /*background-image: radial-gradient(circle, #d3d3d3, #babbbc, #a1a4a4, #8a8e8c, #767773);*/
  max-height: 100vh;
}
.main {
  padding-top: 80px;
  padding-left: 150px;
  padding-right: 150px;
}
.title {
  color: #3f3f3f;
  margin-bottom: 40px;
}
.navigation {
  padding-left: 50px;
}
.navigation a {
  border: none;
  outline: none;
  color: #3f3f3f;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}
.navigation a:hover {
  outline: none;
  text-decoration: none;
  color: #e1892e; /*dusty yellow*/
  background: #d3d3d3;
  border-radius: 5px;
}
.introduction img {
  margin-top: 40px;
  width: 350px;
  border-radius: 50%;
}
.info h1 {
  color: #3f3f3f;
}
.info h2 {
  color: #3f3f3f;
}
.pagelinks button {
  margin: 20px;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 2px solid #d3d3d3;
  border-radius: 50%;
}
#res {
  background-color: #e12f2e;
  color: #d3d3d3;
}
#work {
  /*background-color: #48c1d9;*/ /*blueis gray*/
  background-color: #29c5c5;
  color: #d3d3d3;
  padding-left: 25px;
  padding-right: 25px;
}
#skills {
  background-color: #89a73c; /*dusty green*/
  color: #d3d3d3;
  padding-left: 25px;
  padding-right: 25px;
}
.pagelinks button:active {
  outline: none;
  text-decoration: none;
}
.pagelinks button:hover {
  outline: none;
  text-decoration: none;
  background-color: #3f3f3f !important;
  color: #e7e7e7;
}

footer {
  padding-left: 50px;
  margin-top: 50px !important;
  background-color: #3f3f3f;
  color: #d5d5d5;
  width: 100%;
}
.details i {
  margin: 20px;
  padding: 15px;
  border: solid #d5d5d5;
  background-color: #89a73c;
  border-radius: 50%;
  /*float: left;*/
  size: 10px;
}
.lol {
  margin-top: 10px !important;
  font-size: 20px !important;
}
.email p {
  /*margin-top: -50px;
	margin-left: 40px;*/
}
.copyright p {
  margin-top: 10px;
}
.social i {
  text-decoration: none;
  outline: none;
  color: #d5d5d5;
  border: solid 1px;
  border-radius: 5%;
  margin: 2px !important;
  padding: 0px !important;
}

/*This is css for portfolio*/

.sidebtn {
  border-radius: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  border: solid 1px;
  /*background-color:  #3972ab;*/
  /*background-color: #6699cc;*/
  /*background-color: #c9514c;*/
  background-color: #89a73c;
  color: white;
}
.sidebtn:focus {
  outline: none;
  text-decoration: none;
}

#education {
  padding-left: 28px;
  padding-right: 28px;
}
#myresume {
  color: #3f3f3f;
  font-size: 50px;
}
hr {
  border: solid 1px #3f3f3f;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.skills i {
  border-radius: 50%;
  border: solid 1.5px #f5f5dc;
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #29c5c5; /*light blue the nice one*/
  /*background-color:#e1892e;*/ /*grayish yellow*/
  color: #f5f5dc;
}

/*CSS for project.html starts here*/
.headline h1 {
  font-size: 60px;
}

.sideimg {
  width: 90%;
}

.projectbtn {
  font-size: 17px;
  border: none;
  outline: none;
  background-color: #29c5c5;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
  color: #f5f5dc;
}

.letstalk button {
  border: solid 1px #f5f5dc;
  outline: none;
  color: #f5f5dc;
  background-color: #29c5c5;
  font-size: 14px;
  border-radius: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
}

/*CSS for Contact*/

#contactheading {
  font-size: 70px;
}

#formbtn {
  outline: none;
  width: 30% !important;
  float: right;
  color: white;
  border-radius: 2px;
}

#formbtn:hover {
  background-color: #3f3f3f;
}

#contactme input {
  width: 100%;
  padding: 3px;
  color: white;
  padding-left: 7px;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: #e12f2e;
  border: none;
}
::placeholder {
  color: white;
}
